<!doctype html>
<html lang="es">
<%- include ("../components/head") %>
<body>
    <%- include ("../components/header") %>
    <%- include ("./splash") %>
    <%- include ("./code") %>
    <%- include ("../components/footer") %>
</body>
</html>