<% const content = Object.assign ({
    image: txt_path + "/images/logotype1.png",
    blocks: [
        {
            title: "Avenida Apoquindo 5950,<br>Las Condes",
            description: "Ven a conocernos y tomémonos un rico café",
            image: "contact4",
            buttons: [
                {
                    title: "Visítanos",
                    link: "/contacto/visitanos"
                }
            ]
        }
    ]
}) %>

<section class="w-screen background-section-4 pb-24">
    <div class="flex flex-wrap items-center 2xl:w-[1450px] xl:w-[1300px] w-11/12 mx-auto px-12">
        <div class="w-full flex flex-col lg:flex-row items-center mx-auto">
            <% content.blocks.forEach((block) => { %>
                <div class="w-full lg:w-1/3 mx-auto lg:px-4">
                    <div id="card" class="mt-12 py-8 px-12 other-border background-contact rounded-3xl">
                        <div class="flex justify-center">
                            <%- include ('../components/images', {selection: block.image}) %>
                        </div>
                        <p class="mt-6 mb-6 content-text text-center">
                            <%= block.description %>
                        </p>
                        <ul class="mb-6 content-highlight">
                            <li class="flex justify-center text-center">
                                <span>
                                    <%- block.title %>
                                </span>
                            </li>
                        </ul>
                        <% block.buttons.forEach((button) => { %>
                            <a href="<%= button.link %>">
                                <div class="h-12 button-colored mx-auto">
                                    <%= button.title %>
                                </div>
                            </a>
                        <% }) %>
                    </div>
                </div>
            <% }) %>
            <div class="w-full lg:w-2/3 mx-auto lg:px-4 lg:order-first">
                <div id="mapbox" class="mt-12 py-8 px-12 other-border background-contact rounded-3xl"></div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    window.addEventListener ("load", function () {
        let cardDiv = document.getElementById ("card");
        let mapboxDiv = document.getElementById ("mapbox");
        if (cardDiv && mapboxDiv) {
            let cardHeight = cardDiv.offsetHeight;
            mapboxDiv.style.height = cardHeight + 'px';
        }
        mapboxgl.accessToken = "pk.eyJ1IjoiYmVlaGFwcHllZSIsImEiOiJjbG82MGFxejUwMDBhMm1tbmMwZHI4M2J3In0.Xmiiql2JZZnIIm8wuCGtlQ";
        let map = new mapboxgl.Map ({
            container: "mapbox",
            style: "mapbox://styles/beehappyee/clo60kv0n00ja01oy6inl8vxp",
            center: [-70.568895, -33.408835],
            zoom: 17,
        });
        map.on ("load", () => {
            map.loadImage (
                "<%= content.image %>",
                (error, image) => {
                    if (error) throw error;
                    map.addImage ("beehappyee", image);
                    map.addSource ("point", {
                        "type": "geojson",
                        "data": {
                            "type": "FeatureCollection",
                            "features": [
                                {
                                    "type": "Feature",
                                    "geometry": {
                                        "type": "Point",
                                        "coordinates": [-70.568895, -33.408835]
                                    }
                                }
                            ]
                        }
                    });
                    map.addLayer ({
                        "id": "points",
                        "type": "symbol",
                        "source": "point",
                        "layout": {
                            "icon-image": "beehappyee",
                            "icon-size": 0.5
                        }
                    });
                }
            );
        });
    });
</script>