<% const content = {
    subtitle: "Alcanza tus metas",
    title: "Claves para una comunicación de calidad",
    image: "cornerstones",
    paragraphs: [
        {
            description: "Implementar un chatbot puede ser un proceso complejo y desafiante. Sin embargo, abordamos tres perspectivas fundamentales con las cuales podemos ayudar a garantizar tu éxito."
        }
    ],
    checks: [
        {
            title: "<span class=\"custom-content-highlight\">Cercanía - Profesionales multidisciplinarios conectados:</span> contamos con un equipo multidisciplinario que trabaja en conjunto para que nuestro chatbot sea empático, informativo y agradable."
        },
        {
            title: "<span class=\"custom-content-highlight\">Metodología - Procesos de trabajo y mejora continua:</span> tenemos un proceso estructurado que garantiza la definición de objetivos claros, el análisis de las necesidades de los clientes y su desarrollo en el tiempo."
        },
        {
            title: "<span class=\"custom-content-highlight\">Tecnología - Asistencia virtual con inteligencia artificial:</span> disponemos de una plataforma robusta y escalable que nos permite la integración con otros sistemas y aplicaciones potenciada por el aprendizaje automático."
        }
    ]
} %>

<section class="w-screen custom-background-section-1 pb-24 pt-24">
    <div class="flex flex-wrap items-center 2xl:w-[1450px] xl:w-[1300px] w-11/12 mx-auto px-12">
        <div class="w-full lg:w-1/2 px-4">
            <span class="custom-block-subtitle">
                <%= content.subtitle %>
            </span>
            <h2 class="mt-6 mb-10 text-4xl lg:text-5xl custom-block-big-title">
                <%= content.title %>
            </h2>
            <% content.paragraphs.forEach((paragraph) => { %>
                <p class="mb-10 custom-content-text leading-loose">
                    <%- paragraph.description %>
                </p>
            <% }) %>
            <ul class="mb-6 custom-content-text">
                <% content.checks.forEach((check) => { %>
                    <li class="mb-4 flex">
                        <%- include ('../components/check') %>
                        <span>
                            <%- check.title %>
                        </span>
                    </li>
                <% }) %>
            </ul>
        </div>
        <div class="w-full lg:w-1/2 md:w-3/4 mx-auto lg:px-4 lg:order-first">
            <div class="rounded lg:px-4 pt-4">
                <%- include ('../components/images', {selection: content.image}) %>
            </div>
        </div>
    </div>
</section>