<% const content = {
    subtitle: "Centra tu atención en lo importante",
    title: "Personalización y automatización de tareas",
    image: "features3",
    paragraphs: [
        {
            description: "A la medida y sin esfuerzo: respuestas hechas a tu medida. Nuestro chatbot adapta sus respuestas a lo que tú necesitas, para que sientas que estás en una conversación personalizada."
        },
        {
            description: "Y eso no es todo: también se encarga de las tareas pesadas, desde agendar reuniones hasta avisarte de eventos. Así, el equipo puede poner el foco en lo que realmente importa. Tu asistente personal y tu aliado en la productividad."
        }
    ],
    checks: [
        {
            title: "Eleva tu productividad dándole foco a lo importante"
        },
        {
            title: "Aumenta tu rendimiento y concéntrate en las prioridades"
        },
        {
            title: "Tareas automatizadas, más tiempo para tí"
        }
    ]
} %>

<section class="w-screen background-section-2 pb-24 pt-24">
    <div class="flex flex-wrap items-center 2xl:w-[1450px] xl:w-[1300px] w-11/12 mx-auto px-12">
        <div class="w-full lg:w-1/2 px-4">
            <span class="content-subtitle">
                <%= content.subtitle %>
            </span>
            <h2 class="mt-6 mb-10 text-4xl lg:text-5xl content-title">
                <%= content.title %>
            </h2>
            <% content.paragraphs.forEach((paragraph) => { %>
                <p class="mb-10 custom-content-text leading-loose">
                    <%- paragraph.description %>
                </p>
            <% }) %>
            <ul class="mb-6 content-symbol2">
                <% content.checks.forEach((check) => { %>
                    <li class="mb-4 flex">
                        <%- include ('../components/check') %>
                        <span>
                            <%- check.title %>
                        </span>
                    </li>
                <% }) %>
            </ul>
        </div>
        <div class="w-full lg:w-1/2 md:w-3/4 mx-auto lg:px-4">
            <div class="rounded lg:px-4 pt-4">
                <%- include ('../components/images', {selection: content.image}) %>
            </div>
        </div>
    </div>
</section>