<% const content = {
    subtitle: "Reduce los tiempos de espera",
    title: "Respuestas rápidas y precisas",
    image: "features1",
    paragraphs: [
        {
            description: "Minimiza las esperas al máximo: respuestas al instante y ultra precisas. Nuestro agente inteligente despliega su magia con machine learning y un motor NLP de alto calibre, decodificando a la perfección las preguntas de los usuarios y orquestando respuestas que dan en el clavo."
        },
        {
            description: "Prepárate para una experiencia de cliente que brilla y di adiós a la frustración, porque los tiempos de espera se reducen a la nada. ¡Bienvenido a un nuevo nivel de satisfacción!."
        }
    ],
    checks: [
        {
            title: "Atención personalizada las 24 horas del día"
        },
        {
            title: "Reduce los tiempos de espera al mínimo"
        },
        {
            title: "Respuestas hechas a la medida de tus necesidades"
        }
    ]
} %>

<section class="w-screen background-section-2 pb-24 pt-24" id="caracteristicas">
    <div class="flex flex-wrap items-center 2xl:w-[1450px] xl:w-[1300px] w-11/12 mx-auto px-12">
        <div class="w-full lg:w-1/2 px-4">
            <span class="content-subtitle">
                <%= content.subtitle %>
            </span>
            <h2 class="mt-6 mb-10 text-4xl lg:text-5xl content-title">
                <%= content.title %>
            </h2>
            <% content.paragraphs.forEach((paragraph) => { %>
                <p class="mb-10 content-text leading-loose">
                    <%- paragraph.description %>
                </p>
            <% }) %>
            <ul class="mb-6">
                <% content.checks.forEach((check) => { %>
                    <li class="mb-4 flex">
                        <%- include ('../components/bullet1') %>
                        <span class="content-item">
                            <%- check.title %>
                        </span>
                    </li>
                <% }) %>
            </ul>
        </div>
        <div class="w-full lg:w-1/2 md:w-3/4 mx-auto lg:px-4">
            <div class="rounded lg:px-4 pt-4">
                <%- include ('../components/images', {selection: content.image}) %>
            </div>
        </div>
    </div>
</section>