<% const content = {
    subtitle: "Mejora la experiencia del cliente",
    title: "Información completa y actualizada",
    image: "diagram2",
    paragraphs: [
        {
            description: "Conoce todo al momento: datos frescos y completos. Nuestro chatbot navega por múltiples fuentes para brindarte información al día y sin agujeros."
        },
        {
            description: "No tendrás que perder tiempo preparando respuestas o esperando a que alguien conteste. Desde ahora, todo lo que necesitas está a un mensaje de distancia."
        }
    ],
    checks: [
        {
            title: "Supera las expectativas de tus clientes"
        },
        {
            title: "Olvídate de los atrasos y errores"
        },
        {
            title: "La información que se necesita, cuando se necesita"
        }
    ]
} %>

<section class="w-screen bg-customDarkBg2 pb-24 pt-24">
    <div class="flex flex-wrap items-center 2xl:w-[1450px] xl:w-[1300px] w-11/12 mx-auto px-12">
        <div class="w-full lg:w-1/2 px-4">
            <span class="custom-block-subtitle2">
                <%= content.subtitle %>
            </span>
            <h2 class="mt-6 mb-10 text-4xl lg:text-5xl custom-block-big-title">
                <%= content.title %>
            </h2>
            <% content.paragraphs.forEach((paragraph) => { %>
                <p class="mb-10 text-customGrayText leading-loose">
                    <%- paragraph.description %>
                </p>
            <% }) %>
            <ul class="mb-6 text-white">
                <% content.checks.forEach((check) => { %>
                    <li class="mb-4 flex">
                        <%- include ('../components/check') %>
                        <span>
                            <%- check.title %>
                        </span>
                    </li>
                <% }) %>
            </ul>
        </div>
        <div class="w-full lg:w-1/2 md:w-3/4 mx-auto lg:px-4 lg:order-first">
            <div class="rounded lg:px-4 pt-4">
                <%- include ('../components/images', {selection: content.image}) %>
            </div>
        </div>
    </div>
</section>