<!doctype html>
<html lang="es">
<%- include ("../components/head") %>
<body>
    <%- include ("../components/header") %>
    <%- include ("./splash") %>
    <%- include ("./features1") %>
    <%- include ("./divider1") %>
    <%- include ("./features2") %>
    <%- include ("./divider1") %>
    <%- include ("./features3") %>
    <%- include ("./features4") %>
    <%- include ("./divider2") %>
    <%- include ("./features5") %>
    <%- include ("./divider2") %>
    <%- include ("./features6") %>
    <!--
    include ("./contact1")
    include ("./contact2")
    -->
    <%- include ("../components/footer") %>
</body>
</html>