<!doctype html>
<html lang="es">
<%- include ("../components/head") %>
<body>
    <%- include ("../components/header") %>
    <%- include ("./splash") %>
    <%- include ("./features1") %>
    <%- include ("./divider1") %>
    <%- include ("./features2") %>
    <%- include ("./divider1") %>
    <%- include ("./features3") %>
    <%- include ("./curves") %>
    <%- include ("./divider2") %>
    <%- include ("./channels") %>
    <%- include ("./divider2") %>
    <%- include ("./cornerstones") %>
    <%- include ("./contact1") %>
    <%- include ("./contact2") %>
    <%- include ("../components/footer") %>
</body>
</html>